<div class="container main-container">

  <h4> Demo Cadastro </h4>
  <hr />
  <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-md-2 control-label" for="nome"> Nome Completo </label>
        <div class="col-md-10">
          <input [ngClass]="{'is-invalid': cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)}" type="text" class="form-control" id="nome" placeholder="Nome (requerido)" formControlName="nome">
        </div>
        <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">
          <p>Preencha o campo nome</p>
        </span>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="cpf"> CPF </label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="cpf" placeholder="CPF (requerido)" formControlName="cpf">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="E-mail"> E-mail </label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="nome" placeholder="Nome (requerido)" formControlName="nome" type="email" class="form-control" id="email" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': cadastroForm.get('email').errors && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)}" >
        </div>
        <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
          <p>Preencha o campo email</p>
        </span>
        <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
          <p>E-mail em formato inválido</p>
        </span>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="senha"> Senha </label>
        <div class="col-md-10">
          <input type="password" class="form-control" id="senha" placeholder="Senha (requerido)" formControlName="senha">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="senhaConfirmacao"> Confirme a Senha </label>
        <div class="col-md-10">
          <input type="password" class="form-control" id="senhaConfirmacao" placeholder="Confirme a senha (requerido)" formControlName="senhaConfirmacao">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button [disabled]="cadastroForm.invalid" class="btn btn-success" id="Registrar" type="submit">Registrar</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulário Válido: {{cadastroForm.valid}}</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <p>Formulário Tocado: {{cadastroForm.touched}}</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <p>Formulário Sujo: {{cadastroForm.dirty}}</p>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <p>Formulario: {{formResult}}</p>
      </div>

    </div>

  </form>

</div>
