.main-container {
  padding: 100px 15px 15px 100px;
  /* margin-left: auto;
  margin-right: auto; */
  overflow: hidden;
}

.footer {
  height: 50px;
  text-align: center;
}

input,
select,
textarea {
  max-width: 400px;
}
